<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/index.css">
    <title>location</title>
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">BLACK-A</label>
        <ul>
          <li><a class="active" href="/home">Home</a></li>
          <li><a href="/add">Modifie</a></li>
          <li><a href="/inscription">INSCRIPTION</a></li>
        
        </ul>
      </nav>
      
      <header>
      <h1>Location de voitures - Recherchez, <br><br>
      comparez et faites de vraies économies !</h1>


      </header>
      <br><br><br> <br><br><br>
      <div class="animation"  style="display: flex;">
          <div class="anim1">
      <div class="square">
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
              <h1>pourquoi BLACK-A?</h1><br><br>
              <h3 > BLACK-A est une société Marocaine spécialiste dans la location <br>
                 de voitures depuis plusieurs années.Elle offre un service de qualité <br>
                  avec les meilleurs prix sur tout type de voiture.</h3 >
          </div>
      </div>
    </div>
    <div class="anim2">
      <div class="square">
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
            <h1>Pourquoi réserver avec nous</h1><br><br>
            <h3 >Comparez les loueurs et trouvez le meilleur tarif<br>
                Annulation gratuite jusqu'à 48h avant la prise en charge <br>
                Pas de frais de carte de crédit
                Joignable 7 jours sur 7
               </h3 >
        </div>
    </div>
</div>
</div>
<div class="espace" ></div>
<div class="slideshow-container">

    <div class="mySlides">
      <img src="/static/images/img1.png" style="width:100%" height="600px">
    </div>
    
    <div class="mySlides">
      <img src="/static/images/img2.png" style="width:100%" height="600px">
    </div>
    
    <div class="mySlides">
      <img src="/static/images/img3.png" style="width:100%" height="600px">
    </div>
    <div class="mySlides">
        <img src="/static/images/img4.png" style="width:100%"height="600px">
      </div>
      
      <div class="mySlides">
        <img src="/static/images/img5.png" style="width:100%"height="600px">
      </div>
      
      <div class="mySlides">
        <img src="/static/images/img6.png" style="width:100%"height="600px">
      </div>
    
    <a class="prev" onclick="test(-1)">&#10094;</a>
    <a class="next" onclick="test(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div class="espace" ></div>

</div>

<h1 class="promo" style="color: aliceblue;">PROMOS</h1>
<div class="espace" ></div>
<div class="conte">
    <div class="box" id="test-center">
        <div class="img">
            <img src="https://s2.best-wallpaper.net/wallpaper/3840x2160/1711/Mercedes-Benz-black-car-front-view-headlight-rain_3840x2160.jpg" alt="">
        </div>
        <div class="txt">
            <h2>CODE PROMO LOCATION DE VOITURE</h2><br><br><br><br>
            <h4>A l'occasion de son lancement, BLACK-A Maroc vous offre 10% de réduction sur votre voiture de location au Maroc.
                Cette offre est valable pour toutes les catégories mini, citadines, compactes, Routières, SUV, 4x4
                Pour en profiter, rien de plus simple ! Utiliser le Code Promo THRIFTY10</h4>
        </div>
    </div>
    <div class="box" id="test-center">
        <div class="img">
            <img src="https://lh3.googleusercontent.com/proxy/qmLR6NV25jBsM3v_KqCdMbsnaz63NOFDni8W46aLbQAxrvelkpYzpVYXenP25dtmsz1ASODFWsrJWLdSFAdwRyg7shSsAppwmwSVFCooZUBoGjkW8iF6XuqiAl_6KcHM4_WW5HJRfgDAX7BH1sJupsT8JvRa15dIPdYm0_VMj2Eg2NUS" alt="">
        </div>
        <div class="txt">
            <h2>Promo Ramadan</h2><br><br><br><br>
            <h4>BLACK-A vous fait bénéficier de ses meilleurs tarifs pour toutes vos locations de voiture au Maroc.

                Profitez de -25% de réduction par rapport au tarif actuel sur toutes les catégories de voiture de location. Pour réserver votre véhicule, rien de plus simple, choisissez vos dates et la catégorie choisie, payez en ligne et rendez-vous à l’agence de départ. Réserver
                
                Avec BLACK-A Maroc, votre voiture n’a jamais été si accessible.</h4>
        </div>
    </div>
    <div class="box" id="test-center">
        <div class="img">
            <img src="https://besthqwallpapers.com/Uploads/7-5-2017/15569/thumb2-mercedes-amg-gt-r-4k-road-2018-cars-supercars.jpg" alt="">
        </div>
        <div class="txt">
            <h2>Promo des vacances</h2><br><br><br><br>
            <h4>BLACK-A vous fait bénéficier de ses meilleurs tarifs pour toutes vos locations de voiture au Maroc.

                Profitez de -25% de réduction par rapport au tarif actuel sur toutes les catégories de voiture de location. Pour réserver votre véhicule, rien de plus simple, choisissez vos dates et la catégorie choisie, payez en ligne et rendez-vous à l’agence de départ. Réserver
                
                Avec BLACK-A Maroc, votre voiture n’a jamais été si accessible.</h4>
        </div>
    </div>
    <div class="box" id="test-center">
        <div class="img">
            <img src="https://besthqwallpapers.com/Uploads/30-9-2017/22168/thumb2-bmw-i8-2017-4k-sports-electric-car-black-i8.jpg" alt="">
        </div>
        <div class="txt" >
            <h2>7 jours pour le prix de 5</h2><br><br><br><br>
            <h4>Promotion exceptionnelle chez BLACK-A !
                 Réservez dès maintenant votre voiture
                  de location pour une durée de 7 jours
                   et ne payez que le prix de 5 jours.
                 C’est 7 jours au prix de 5 ! Offre valable
                  sur toutes les catégories de voitures
                   de location et vers toutes les destinations.</h4>
        </div>
    </div>
</div>
<div class="espace" ></div>



<h1 class="promo" style="color: aliceblue;">RESERVATION</h1>
<div class="espace" ></div>

<!-- reservation des voitures -->

 
  
<div class="reserver">
 <% if (locals.vd) { %>
  <% for(var i=0; i< vd.length; i++) {%>
    
 
 
 
<div class="voiture">
  <input type="checkbox">
  <div class="plus">+</div>
  <div class="voi_img">
    <img src=<%= vd[i].value.Url %> width="350px" height="500px">
  </div>
  <div class="voi_txt">
    <h1><img src=<%= vd[i].value.marque %> width="50px" height="50px">  <%= vd[i].value.module %></h1><br><br>
    <p><%= vd[i].value.Description %></p> <br><br>
    <h3>Version : <%= vd[i].value.version %></h3>
    <h3>Carburant : <%= vd[i].value.carburant %></h3> 
    <h3>ID:<%= vd[i].id %></h3><br>
    <h2 style="text-align: center;">Prix* : <%= vd[i].value.prix %> DH</h2>
    <a href=""><button>RESERVER</button></a>
  </div>
</div>
<% } %>
<% } %>
</div>


  <div class="espace" ></div>
  <button id="mnt" type="submit" onclick="reserver_maintent()">Reserver maintenant</button>
  
  <div class="espace" ></div>
  <div class="foter">
    <div class="sociel" >
    <img src="https://cdn.shopify.com/s/files/1/1551/9867/products/ald-005.jpg?v=1478547372" >
    <img src="https://i.ebayimg.com/images/g/p~cAAOSwgu9bR5ho/s-l1600.jpg" >
    <img src="https://prodigits.co.uk/thumbs/wallpapers/p2/logo-brands/12/7d0bb43f12448966.jpg" >
    <img src="https://www.garagemazzoni.be/wp-content/uploads/2019/12/vw.png" >
    <img src="https://bilogmek.no/wp-content/uploads/2015/07/fiat-logo-black-1024x768.jpg" >
    <img src="https://ae01.alicdn.com/kf/HTB1X5F5PmrqK1RjSZK9q6xyypXay/2-uds-Para-DACIA-coche-Logotipo-de-bienvenida-para-puerta-proyector-de-luz-de-bienvenida-puerta.jpg_960x960.jpg" >
 
    
     </div>
     

</div>
<div class="espace" ></div>


   
</div>
<footer class="footerr" >
  <div>
      <h1>ADRESSE:</h1> <br>
      <h2>SAFI, MAROC</h2>
      <h2>ESSAOUIRA,MAROC</h2>
      <h2>46000</h2>
  </div>
  <div>
      <h1>Hours</h1><br>
      <p>Lundi| 10 A.M – 4 P.M </br>
          Mardi | 10 A.M – 5 P.M |</br>
          Mercredi | 10 A.M – 5 P.M</br>
           Jeudi| 10 A.M – 5 P.M</br>
          Vendreder | 10 A.M – 5 P.M</br>
          Samedi | 10 A.M – 2 P.M</br>
         Dimanche | 10 A.M – 2 P.M </br>
          </p>
  </div>
  <div>
      <h1>MENU</h1> <br>
      <h2>HOME</h2>
      <h2>GALLERY</h2>
      <h2>RESERVATION</h2>
      <h2>INSCRIPTION</h2>
  </div>
  <div>
      <h1>SOCIAL MEDIA</h1> <br>
      <h2>FACEBOOK</h2>
      <h2>TWITTER</h2>
  </div>
  
</footer>
<div class="reservation" >
  <div class="info">
<input type="text" style="border: none;" value="" id="txtt">
<br>
 <h1>Reservation</h1><br>
 <p>votre adresse email</p>
 <input type="text" value="Email" id="res_txt">
 <p>Password</p>
 <input type="password" value="Password" id="res_mdp">
 <p>Date de permer</p>
 <input type="date" id="data_1" >
 <p>Depart</p>
 <input type="date" id="data_2">
 <p>Arrive</p>
 <input type="date" id="data_3"> <br>
 <input type="button" value="Reserver" onclick="reserver_mnt()">
 <br>
 <input type="button" value="Inscription" onclick="link()" id="ll" >
 <div class="close" onclick="close1()">X</div>

  </div>
</div>

<script src="/static/javascript/reserver.js"></script>
<script src="/static/javascript/monscript.js"></script>
</body>
</html>
